* {
    margin:0;
    padding:0;
}

html{
    background-color: rgba(12, 11, 11, 0);
    height: 100%
}

/*The body is literally just to organize background image and set the footer to bottom*/
body {
    background-image: url(https://wallpaperaccess.com/full/646374.jpg);
    background-repeat: no-repeat;
    background-position: 0%;
    /*Should adjust image size to any size of window viewport*/
    background-size: 100% 100%;
    background-color: slategray;
    height: 100%;
    /*The below is for the footer to stick to the bottom*/
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

p {
    font-size: 1.4rem;
}

#dateBox {
    font-weight: bolder;
}

i {
    font-size: 5rem;
}

.image {
    padding-top: 0% !important;
    text-align: center;
}

.columns.is-ancestor {
    margin: 0 auto;
}

#cityInput {
    border-radius: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
}

#zipInput {
    border-radius: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
}

#searchBtn {
    border-radius: 0%;
    font-size: larger;
}

.button.is-info {
    border-radius: 0%;
    width: 100%;
    color: black;
    background-color: beige;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
}

.button.is-info:hover {
    background-color: #e9604e;
}
.button.is-info:active {
    background-color: #17BEBB;
}
.button.is-info:focus {
    background-color: #17BEBB;
}

.tile.is-vertical {
    padding: 0rem;
}

#searchTitle {
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
}

.label {
    font-family: 'Raleway', sans-serif;
}

#searchBoxBg {
    background-color: #b6b6b6;
    padding: 6%;
    height: 100%;
}

#frequentlySearched {
    font-family: 'Raleway', sans-serif;
}

#weatherDashboardTitle {
    font-size: 5rem;
    font-family: 'Cormorant Garamond', serif;
    color: #FCFFF7;
}

#statBox{
    background-color: beige;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}

/* #randoImg {
    width: auto;
    height: 300px;
} */

#weatherBox {
    background-color: #b6b6b6;
    color: rgb(26, 26, 26);
    font-family: 'Cormorant Garamond', serif;
}

#cityForecast {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    font-weight: 100;
}

h6 {
    font-family: 'Raleway', sans-serif;
    margin-top: 25px;
    font-style: italic;
    text-align: center;
}

.weatherTemp {
    font-family: 'Cormorant Garamond', serif;
}

.weatherCondition {
    font-family: 'Raleway', sans-serif;
}

#footerTxt {
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
    color: #FCFFF7;
}

a {
    font-size: 1.4rem;
    font-family: 'Cormorant Garamond', serif;
    color: whitesmoke;
}

#wikiUV {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

#bgCredit {
    float: right;
}

.hero {
    background-color: black;
}

.footer {
    background-color: black;
    color: whitesmoke;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn {
    background-color: #9BC1BC;
    border-color: #9BC1BC;
    margin-bottom:5px;
    

}